.cta {
  position: fixed;
  z-index: 20;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;

  display: flex;
  align-items: flex-start;
  gap: var(--space-2);

  width: 100%;
  max-width: var(--viewport-w);
  height: var(--h-cta-area);  /* 102 */
  padding: var(--space-3) var(--gutter) 0;
  padding-bottom: env(safe-area-inset-bottom, 0px);

  background: var(--bg-surface);
}
